@import "tailwindcss";

@theme {
    --color-primary: #0056a4;
    --color-secondary: #008c75;

    --bg-blackcanvas: #040609;
    --bg-whitecanvas: #f8f8f8;
    --bg-card: #0a0e11;

    --color-white: #ffffff;
    --color-gray: #8e8e8e;
}

